.paper {
  height: 100px;
  align-content: center;
}

.expenses {
  color: #fff !important;
  background: #e91e63 !important;
}

.income {
  color: #fff !important;
  background: #009688 !important;
}

.valueHolder {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .valueHolder {
    font-size: 1.5rem;
  }
}
