@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.section-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.income-text {
  color: #009688 !important;
}

.expenses-text {
  color: #e91e63 !important;
}
